.mainvideo {
    width: 800px;
    height: 370px;
    margin: 30px auto 0px auto;
    display: block;
    border-radius: 20px;
}


@media only screen and (max-width:800px) {
    .mainvideo {
        width: 600px;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .mainvideo {
        width: 600px;
    }
}


@media only screen and (max-width:600px) {
    .mainvideo {
        width: 100%;
    }
}